<style>
    .col-33{
        margin: 20px 0;
    }
    .tables .icon{
        font-size: 90px;
        color: #387ef5;
    }
    a{
        text-decoration: none;
    }
</style>
<ion-view view-title="Cashier Orders">
  <ion-content>
    <div class="row tables">
        <div class="col-33 text-center"><a href="#/app/orders/1"><i class="icon ion-ios-circle-filled"></i> <br> Table 1</a></div>
        <div class="col-33 text-center"><a href="#/app/orders/2"><i class="icon ion-ios-circle-filled"></i> <br> Table 2</a></div>
        <div class="col-33 text-center"><a href="#/app/orders/3"><i class="icon ion-ios-circle-filled"></i> <br> Table 3</a></div>
    </div>
    <div class="row tables">
        <div class="col-33 text-center"><a href="#/app/orders/4"><i class="icon ion-ios-circle-filled"></i> <br> Table 4</a></div>
        <div class="col-33 text-center"><a href="#/app/orders/5"><i class="icon ion-ios-circle-filled"></i> <br> Table 5</a></div>
        <div class="col-33 text-center"><a href="#/app/orders/6"><i class="icon ion-ios-circle-filled"></i> <br> Table 6</a></div>
    </div>
    <div class="row tables">
        <div class="col-33 text-center"><a href="#/app/orders/7"><i class="icon ion-ios-circle-filled"></i> <br> Table 7</a></div>
        <div class="col-33 text-center"><a href="#/app/orders/8"><i class="icon ion-ios-circle-filled"></i> <br> Table 8</a></div>
        <div class="col-33 text-center"><a href="#/app/orders/9"><i class="icon ion-ios-circle-filled"></i> <br> Table 9</a></div>
    </div>
  </ion-content>
</ion-view>
